# Backend general config
SITE_NAME='TASCO'
SITE_OWNER_NAME='HowCow'
ADMIN_SITE_HEADER='TASCO Administration'

# Backend security config
DJANGO_ENV='development'
DJANGO_ALLOWED_HOSTS='*'
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_SECRET_KEY=''

# Backend data servers config
DATABASE_NAME='tasco'
DATBASE_OWNER=''
DATBASE_PASSWORD=''
DATBASE_HOST=''
DATBASE_PORT=
DATABASE_CONN_MAX_AGE=60

# Backend timezone config
DEFAULT_TIME_ZONE='UTC'


